<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<!-- Configuracao para setar o timeZone da aplicacao -->
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Inicio de configurações para Java Server Faces Use Documents Saved 
		as *.xhtml Servidor vai entender que requisições JSF serão referentes a arquivos 
		XHTML -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<!-- Configurações para que a aplicação use o TIME-ZONE do servidor, para datas e horas -->
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Configurações para exibição de mensagens no console do servidor, podendo 
		ser: - Development - Production - UnitTest - SystemTest - Extension -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	
	<!-- Definição do Servlet que irá interceptar todas as requisições JSF e 
		direcionar para o seu componente (ManagedBean) -->
	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Faces Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<!-- Definição de tempo para a sessão em MINUTOS -->
	<session-config>
		<session-timeout>7</session-timeout>
	</session-config>
	
	<!-- Página incial do sistema -->
	<welcome-file-list>
		<welcome-file>publico/login.jsf</welcome-file>
	</welcome-file-list>
</web-app>










